.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-styles {
  width: 90%;
  cursor: pointer;
  height: 29rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-styles:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-deleted {
  opacity: 0.5;
  background-color: #f8d7da;
}

.card-styles:hover .card-footer-content p,
.card-styles:hover .card-footer-content .arrow-svg {
  color: red;
  fill: red;
}

.card-header {
  position: relative;
  width: 100%;
  height: 10rem;
  background-color: #ff6b6b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid #e74c3c;
}

.card-header p {
  margin: 0;
}

.card-header button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-header button:hover {
  background-color: #c0392b;
}

.card-footer {
  width: 100%;
  height: 10rem;
  background-color: rgba(0, 4, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.card-footer-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.arrow-svg {
  width: 3rem;
  height: 3rem;
  fill: white;
}

.sort-select {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2rem;
}

.sort-select:hover {
  background-color: #2980b9;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c0392b;
}
