.card-styles {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content-styles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.card-content-styles h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.card-content-styles p {
  font-size: 1.5rem;
  color: white;
}
